.margin-top1pc { margin-top: 1%; }
.margin-top2pc  { margin-top: 2%; }
.margin-top5pc { margin-top: 5%; }

.margin-bottom1pc { margin-bottom: 1%; }
.margin-bottom2pc  { margin-bottom: 2%; }
.margin-bottom5pc { margin-bottom: 5%; }